// Variables
$caret-expanded: "\25bc";
$caret-collapsed: "\25b6";
$spacing-standard: 1em;
$color-red: red;
$color-black: black;

// Basic classes
.wki-disamb-red {
  color: $color-red;
}

.wki-pb-solr {
  display: none;
}

// Seven theme implementation
#block-seven-content {
  .wisski-pathbuilder-caret-expanded,
  .wisski-pathbuilder-caret-collapsed {
    &::before {
      margin-right: $spacing-standard;
    }
  }

  .wisski-pathbuilder-caret-expanded::before {
    content: $caret-expanded;
  }

  .wisski-pathbuilder-caret-collapsed::before {
    content: $caret-collapsed;
  }

  a.tabledrag-cell-content__item {
    text-decoration: none;
  }
}

// Claro theme implementation
#block-claro-content {
  .tabledrag-cell-content {
    margin-left: $spacing-standard;
  }

  .wisski-pathbuilder-caret-expanded,
  .wisski-pathbuilder-caret-collapsed {
    &::before {
      color: $color-black;
      margin: {
        right: $spacing-standard;
        left: -$spacing-standard;
      }
    }
  }

  .wisski-pathbuilder-caret-expanded::before {
    content: $caret-expanded;
    margin-left: auto;
  }

  .wisski-pathbuilder-caret-collapsed::before {
    content: $caret-collapsed;
    margin-left: auto;
  }

  a.tabledrag-cell-content__item {
    text-decoration: none;
  }
}

// Submit region styles
.wisski-pathbuilder__submit-region {
  li.dropbutton__item {
    max-width: unset !important;

    input {
      max-width: unset;
    }
  }
}

.wisski-pathbuilder-edit-form {
  .tabledrag-handle {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  .form-item__label[data-pathbuilder-group="true"] {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0.5em;
    vertical-align: middle;
    line-height: normal;
  }

  .tabledrag-cell-content__item {
    display: flex;
    align-items: center;
    min-height: 2.5em;
  }
}
