/* Jit RGraph4WissKI */
#wki-infovis {
    position: relative;
    z-index: 10;
    display: block;
    float: left;
    clear: both; 
    width: 71%;
    height: 600px;
    overflow: hidden; 
    border: 1px solid rgb(240,240,240);
}
#wki-infovis .node {
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
}
#wki-infovis .wki-primitive {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 1em;
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    z-index: 1;
    padding: 0.1em 0 0.1em 0;
    border: 1px solid rgb(192,192,192);
}
#wki-infovis .wki-groupname {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 1em;
    background: rgba(70, 71, 73,0.8);
    color: rgb(255,255,255);
    z-index: 1;
    padding: 0.1em 0 0.1em 0;
    border: 1px solid rgb(70, 71, 73); 
    border-radius: 5px;
}

#wki-infovis .wki-groupname:hover {
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    z-index: 2;
}

#wki-infocontrol {
    position: relative; 
    z-index: 20;
    float: left;
    text-align: right;
    width: 71%;
    margin-bottom: -26px;
}


#wki-infoswitch  {
    font-size: 0.8em;
    color: rgb(187,96,5);
    background: rgba(0,0,0,0.0);
    border: 0;
    text-align: right;
}

#wki-infolist {
    display: block;
    float: right;
    max-width: 25%;
    border-left: 1px solid rgb(240,240,240);
    overflow: hidden;
    padding: 0 0.5em 0.5em 0.5em;
}
#wki-infolist ul {
    margin-left: 0;
    padding-left: 1.4em;
    font-size: 0.9em;
}
#wki-infolist ul  li {
    margin-bottom: 0.5em;
}
#wki-infolist h2 {
    margin: 0.5em 0 0 0;
    font-size: 1em;
    font-weight: bold;
    color: #606060;
}

#wki-infolog {
    clear: left;
    font-size: 0.8em;
    color: rgb(128,128,128);
}

#wki-modallink {
    position: relative;
    width: 20%;
    float: left;
    display: flex;
    z-index: 21;
    margin-bottom: -50px;
    /*margin-top: 2em;*/
    /*margin-left:0.6em;*/

}

#modallink{
    position:relative;
    display: block;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(194, 196, 198,0.3);
    padding: 0.5em;
    z-index: 40;
    /*background:rgba(249, 251, 255,0.7);*/
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 3px;
}

#modallink:hover{
    background:rgba(249, 251, 255,0.7);
    color: rgba(194, 196, 198,0.8);
    border: 2px solid rgba(194, 196, 198,0.8);    


}

/*TOOLTIPS*/
.tip {
    width: 200px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(192,192,192);
    -moz-box-shadow:#555 1px 1px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size: 0.8em;
    font-family: sans-serif;
    padding: 0.2em;
    overflow: hidden;
}