/* Jit RGraph4WissKI ModalView*/

#wki-infovis-modal {
    position: relative;
    z-index: 10;
    display: block;
    float: left;
    width: 71%;
    height: 500px;
    overflow: hidden;
    border: 1px solid rgb(240,240,240);
}
#wki-infovis-modal .node {
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
}
#wki-infovis-modal .wki-primitive {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 1em;
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    z-index: 1;
    padding: 0.1em 0 0.1em 0;
    border: 1px solid rgb(192,192,192);
}

#wki-infovis-modal .wki-groupname{
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 1em;
    background: rgba(70, 71, 73,0.8);
    color: rgb(255,255,255);
    z-index: 1;
    padding: 0.1em 0 0.1em 0;
    border: 1px solid rgb(70, 71, 73);
    border-radius: 5px;
}

#wki-infovis-modal .wki-groupname:hover,
          .wki-linktext-modal:hover{
    background: rgb(255,255,255);
    color: rgb(0,0,0);
}

#wki-infovis-modal .wki-groupname:hover{
    z-index: 2;
}


/* wki-infocontrol-modal */

#wki-infocontrol-modal {
    position: relative;
    z-index: 20;
    text-align: right;
    width: 71%;
    margin-bottom: -19px;
}

#wki-infoswitch-modal  {
    font-size: 0.8em;
    color: rgb(187,96,5);
    border: 0;
    text-align: right;
}


/* wki-infolist-modal */

.wki-linklabel-modal{
    width: 96%;
    float: left;
    /*flex: 1 0 100%;*/

}

.wki-linktext-modal{
    
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background: rgb(70, 71, 73);
    color: rgb(255,255,255);
    z-index: 20;
    padding: 0.4em 0 0.4em 0;
    margin-right: 2px;
    border: 3px solid rgba(70, 71, 73, 0.7);
    border-radius: 10px;
    cursor: pointer;
    transition: all ease .1s;
}

.wki-linktext-modal:hover{
    border: 3px solid rgba(70, 71, 73, 0.7);
    transition: none;
}

#wki-infolist-modal {
    display: block;
    float: right;
    max-width: 25%;
    border-left: 1px solid rgb(240,240,240);
    overflow: hidden;
    padding: 0 0 0.5em 0.5em;
}
#wki-infolist-modal ul {
    margin-left: 0;
    padding-left: 1.4em;
    font-size: 0.9em;
}
#wki-infolist-modal ul  li {
    margin-bottom: 0.5em;
}
#wki-infolist-modal h2 {
    margin: 0.5em 0 0 0;
    font-size: 1em;
    font-weight: bold;
    color: #606060;
}

.wki-slidein-right-link-modal{
    
    /*float: left;*/
    width: 3%;
    /*flex: 1 0 100%;*/
    background: rgb(219, 92, 28); 
    z-index: 20;
    border-radius: 10px 0px 0px 10px;
    transition: all ease 1s;   
}

.wki-slidein-right-link-modal:hover{
    width: 20%;
    z-index: 21;
    transition: all ease 1s;

}

.wki-linkrow-modal{
    position: relative;
    display: flex;
    flex-flow: row column;
    overflow: hidden;
    margin-bottom: 0.5em;
}


/* wki-infog-modal */
#wki-infolog-modal {
    clear: left;
    font-size: 0.8em;
    color: rgb(128,128,128);
}


/*TOOLTIPS*/
.tip {
    width: 200px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(192,192,192);
    -moz-box-shadow:#555 1px 1px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size: 0.8em;
    font-family: sans-serif;
    padding: 0.2em;
    overflow: hidden;
}


/* Dialog settings */

div.ui-dialog div.ui-dialog-titlebar{
    background-color: rgba(70, 71, 73);
    border-radius: 20px 20px 0px 0px;

}

div.ui-dialog div.ui-widget-header{
    color: white;
}

div.ui-dialog {
    position: fixed;
    border: 5px rgb(70, 71, 73);
    border-radius: 20px;
    animation: modalopen .25s;
    transform-origin: left top;
}

@keyframes modalopen{ 
    from{
        position: fixed;
        transform: scale(0.4);
        /*transform-origin: center;*/    
    }
    to{ 
        position: fixed;
        transform: scale(1);
        /*transform-origin: center;*/

    }
}


/* Slide in settings */ 


#wki-slidein-wrapper-modal{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 33%;
    height:100%;
    display: none; 
    background: rgb(255,255,255);
    z-index: 1261;
    border-left: 3px solid rgb(70, 71, 73);
    border-bottom:3px solid rgb(70, 71, 73);
    border-top:3px solid rgb(70, 71, 73);
    border-radius: 10px 0px 0px 10px;
   
}