@charset "UTF-8";
.wki-disamb-red {
  color: red;
}

.wki-pb-solr {
  display: none;
}

#block-seven-content .wisski-pathbuilder-caret-expanded::before,
#block-seven-content .wisski-pathbuilder-caret-collapsed::before {
  margin-right: 1em;
}
#block-seven-content .wisski-pathbuilder-caret-expanded::before {
  content: "▼";
}
#block-seven-content .wisski-pathbuilder-caret-collapsed::before {
  content: "▶";
}
#block-seven-content a.tabledrag-cell-content__item {
  text-decoration: none;
}

#block-claro-content .tabledrag-cell-content {
  margin-left: 1em;
}
#block-claro-content .wisski-pathbuilder-caret-expanded::before,
#block-claro-content .wisski-pathbuilder-caret-collapsed::before {
  color: black;
  margin-right: 1em;
  margin-left: -1em;
}
#block-claro-content .wisski-pathbuilder-caret-expanded::before {
  content: "▼";
  margin-left: auto;
}
#block-claro-content .wisski-pathbuilder-caret-collapsed::before {
  content: "▶";
  margin-left: auto;
}
#block-claro-content a.tabledrag-cell-content__item {
  text-decoration: none;
}

.wisski-pathbuilder__submit-region li.dropbutton__item {
  max-width: unset !important;
}
.wisski-pathbuilder__submit-region li.dropbutton__item input {
  max-width: unset;
}

.wisski-pathbuilder-edit-form .tabledrag-handle {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.wisski-pathbuilder-edit-form .form-item__label[data-pathbuilder-group=true] {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0.5em;
  vertical-align: middle;
  line-height: normal;
}
.wisski-pathbuilder-edit-form .tabledrag-cell-content__item {
  display: flex;
  align-items: center;
  min-height: 2.5em;
}

/*# sourceMappingURL=style.css.map */
