.wki-disamb-red {
  color: red;
}

.wki-pb-solr {
  display: none;
}


/* seven implementation */

#block-seven-content .wisski-pathbuilder-caret-expanded > label::before,
#block-seven-content .wisski-pathbuilder-caret-collapsed > label::before
{
  margin-right: 1em;
}

#block-seven-content .wisski-pathbuilder-caret-expanded > label::before {
  content: "\25bc";
}
#block-seven-content .wisski-pathbuilder-caret-collapsed > label::before {
  content: "\25b6 ";
}

#block-seven-content a.tabledrag-cell-content__item {
  text-decoration: none;

}

/* claro implementation */

#block-claro-content .tabledrag-cell-content {
  margin-left: 1em;
}

#block-claro-content .wisski-pathbuilder-caret-expanded .tabledrag-cell-content__item::before,
#block-claro-content .wisski-pathbuilder-caret-collapsed .tabledrag-cell-content__item::before {
  color: black;

  margin-right: 1em;
  margin-left: -1em;
}

#block-claro-content .wisski-pathbuilder-caret-expanded .tabledrag-cell-content__item label::before   {
  content: "\25bc";
  margin-right: 1em;
}
#block-claro-content .wisski-pathbuilder-caret-collapsed .tabledrag-cell-content__item label::before {
  content: "\25b6 ";
  margin-right: 1em;
}

#block-claro-content a.tabledrag-cell-content__item {
  text-decoration: none;

}

.wisski-pathbuilder__submit-region li.dropbutton__item {
  max-width: unset !important;
}

.wisski-pathbuilder__submit-region li.dropbutton__item input {
  max-width: unset;
}
